# Use your machine LAN IP here when testing on a physical phone.
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.69:4100
EXPO_PUBLIC_ENABLE_GOOGLE_SIGN_IN=false
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=614968507436-blh0cv4db5b5k10d57ki9eltamms24nd.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
